---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Raleway:400,300,600,800|Oswald:400,700,300);


$base-font-family: "Oswald","Raleway","Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #F3F3F3;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

  .center-image {
    margin: 0 auto;
    display: block;
  }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #23527C;
  text-decoration: none;
  font-size: 14px; }
  a:visited {
    color: gray; }
  a:hover {
    color: #23527C;
    text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */

// .header-wrapper{
//   height: 19em;
//   background-color: #59ADE3; 
// }

.glyphicon-calendar{
  font-size: 12px;
}

#author-color{
  color: grey !important;
  font-style: italic;
}

.categories-style ul {
  list-style-type: none;
}

.categories-style ul li {
  font-size: 16px;
  font-weight: 400;
}

.categories-style ul li i{
  text-decoration: none;
  font-weight: 300;
  color: #5D5D5D;
  font-style: normal;
}

.colum-tags{
}

.tags-style a{
  background-color: #16A085;
  padding: 5px;
  color: #FFF;
  font-size: 10px;
  font-weight: 400;}

.tags-style.all-tags ul{
  list-style-type: none;
  margin-top: -0.5em;
}
.tags-style.all-tags ul li{
  text-decoration: none;
}

.tags-style.all-tags ul li a{
  margin: 1px !important;
}

.nav-arrows a{
  color: #4183D7;
  font-weight: 500;
}

.wrapper {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  border-top: 0px solid #000;
  padding: 2em;
  background-color: #3498db;
  position: relative;
  box-shadow: 0px -1px 34px -22px rgba(0, 0, 0, 0.85) inset; }

.site-title {
  font-size: 26px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;}
  .site-title, .site-title:visited {
  color: white !important; }

.site-title img{
  margin-top: -5px;
  margin-right: 5px;
}

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none;
    font-family: roboto;
    font-size: 13px;
    color: #333; }
  .site-nav .page-link {
    font-weight: 400;
    color: white;
    line-height: 1.5;
    padding: 10px 10px;
    font-size: 12px;
    border: 2px solid #3498DB;}
    .site-nav .page-link:not(:last-child) {
      margin-right: 10px;
       }
.site-nav a:hover{
      border: 2px solid rgba(255,255,255,0.7);
      background-color: rgba(255, 255, 255, 0.21) !important;}

.site-nav i.page-link-separator{
  margin-right: 1em;
  color: white;
  font-style: normal; }

  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none;}
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px;}
      .site-nav .page-link {
        display: block;
        margin-left: 20px;
        color: gray;
        border: none; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 2em; }

.page-heading {
  font-size: 16px;
  color: #5D5D5D;
  font-weight: 400;
  padding-left: 1em;
  padding-top: 0.5em;}

.page-heading i {
  margin-top: -5px;
  font-size: 16px;
  margin-right: 0.5em; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-style{
  background-color: #FFF; 
  padding: 1.5em 1.5em 1em;
  -webkit-box-shadow: -2px 8px 32px -21px rgba(0,0,0,0.49);
  -moz-box-shadow: -2px 8px 32px -21px rgba(0,0,0,0.49);
  box-shadow: -2px 8px 32px -21px rgba(0,0,0,0.49);
  margin-right: 1em;
    margin-left: 1em;
    max-height: 20em;
    min-height: 20em;
}

.single-post{
  margin-top: 1em;
  margin-bottom: 1em;
}

.post-meta {
  font-size: 10px;
  font-weight: 600;
  color: #FFF;
  background-color: #95A5A6;
  text-align: center;
  box-shadow: -2px 8px 32px -21px rgba(0, 0, 0, 0.49);
  max-width: 56px;
  max-height: 67px;
  margin-right: 1em;}

span.date{
  font-size: 2.5em !important;
  font-weight: 700;
}

.date-format {
  background-color: #7D8C8D !important;
  padding: 0.3em 0.8em;
  text-align: center;
  margin-top: -1em;
  max-width: 68px;
  max-height: 26px;}

.post-author {
  color: #555;
  font-size: 0.8em;
}

.post-author i {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.post-link {
  line-height: 1em;
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: 100;
  color: black!important;
}

.post-content-truncate{
  color: #646464;
  text-align: justify;
  font-size: 12px;
  padding: 7px;
  line-height: 1.5em;}

li a.post-link-button{
  padding: 0.3em 1em;
  background-color: #4183D7;
  margin-left: 85%; }

.post-link-button i.more-post{
  font-size: 12px;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}

/**
 * Posts
 */
.post {
  max-width: 80%;
  margin: 0 auto;}

.post-header {
    background-color: white;
    padding: 2em;
    padding-left: 3em;
    margin-bottom: -3em!important;
    padding-top: 1em;}

.post-title {
  margin-top: 1.5em;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1;
  color: black;
  font-weight: 500;}
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 32px; } }

.post-meta-post{
  color: #4183D7;
  text-align: left;
  font-size: 11px;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: -9px;
  font-style: normal;}

.post-content {
  background-color: white;
  font-family: "Roboto";
  padding: 2em; }
  .post-content h1 {
    font-weight: 700;
    font-size: 22px;
    color: #393939;
    margin-bottom: 20px;
    margin-top: 43px;
    padding-left: 1em;}
  .post-content h2 {
    font-weight: 700;
    font-size: 22px;
    color: #393939;
    margin-bottom: 24px;
    margin-top: 43px;
    padding-left: 1em;}
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 24px; } }

  .post-content h3 {
    font-size: 20px;
    color: #16A085;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 500;
    padding-left: 1em;}
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 18px; } }

  .post-content h4 {
    font-size: 16px;
    color: rgb(99, 131, 215);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 1em;
    font-weight: 600;}
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 14px; } }

  .post-content p{
      color: #595858;
      text-align: justify;
      padding: 20px;
      font-size: 13px;
      line-height: 1.5em;
      margin-bottom: -11px;
  }


/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
