.page-header {
  background: #eee;
  border-bottom: #ddd 1px solid;
  position: fixed;
  left: 0px;
  width: 100%;
  top: 0px;
}

.page-header h1 {
  font-size: 2em;
}

.page-header a {
    text-decoration: none
}

.page-header a:visited {
    color: #888
}

body
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 80px;
}

ul
{
  padding-left: 1em;
}

ul ul {
  margin-top: 0;
}

h1
{
  text-align: center;
}

p
{
  text-align: justify;
}

code, pre
{
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

pre
{
  background: #F7F7F7;
  border: 1px solid #F0F0F0;
  margin: 0 0 12px 0;
  overflow-x: auto;
  padding: 15px;
}

ul.slats
{
  list-style: none;
}

ul.slats li
{
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #eee;
  overflow: hidden;
}

ul.slats li:last-child
{
	margin: 0;
	padding: 0;
	border-bottom: none;
}

ul.slats li a h3
{
	font-size: 18px;
	font-weight: bold;
	line-height: 1.1;
  margin: 0;
}

ul.slats li a img
{
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #eee;
}

ul.slats li a:hover img
{
	background: #eee;
}

ul.slats li a p
{
	margin: 0 0 0 76px;
	font-size: 14px;
	line-height: 1.4;
	color: #555;
}

ul.slats li a p span.meta
{
	display: block;
	font-size: 12px;
	color: #999;
}

@media screen and (max-width: 700px) {
	ul.slats li a img
  {
		display: block;
		float: none;
		margin: 0 0 5px 0;
	}

  ul.slats li a p
  {
		margin: 0;
	}
}


table {
  background: white;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd;
  width: 100%;
  border-radius: 8px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: #eee
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table thead, table tfoot {
  background: #eee;
  font-weight: bold;
}

table tr th, table tr td {
  padding: 0.5625em 0.625em;
  font-size: 0.875em;
  color: #222222;
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
  display: table-cell;
  line-height: 1.125em;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
  padding: 0.5em 0.625em 0.625em;
  font-size: 0.875em;
  color: #222222;
  text-align: left;
}

table thead tr th {
  color: #888;
  text-align: left;
  background-color: inherited;
}
