body
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul
{
  padding-left: 1em;
}

ul ul {
  margin-top: 0;
}

h1
{
  text-align: center;
}

p
{
  text-align: justify;
}

code, pre
{
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

pre
{
  background: #F7F7F7;
  border: 1px solid #F0F0F0;
  margin: 0 0 12px 0;
  overflow-x: auto;
  padding: 15px;
}

ul.slats
{
  list-style: none;
}

ul.slats li
{
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #eee;
  overflow: hidden;
}

ul.slats li:last-child
{
	margin: 0;
	padding: 0;
	border-bottom: none;
}

ul.slats li a h3
{
	font-size: 18px;
	font-weight: bold;
	line-height: 1.1;
  margin: 0;
}

ul.slats li a img
{
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #eee;
}

ul.slats li a:hover img
{
	background: #eee;
}

ul.slats li a p
{
	margin: 0 0 0 76px;
	font-size: 14px;
	line-height: 1.4;
	color: #555;
}

ul.slats li a p span.meta
{
	display: block;
	font-size: 12px;
	color: #999;
}

@media screen and (max-width: 700px) {
	ul.slats li a img
  {
		display: block;
		float: none;
		margin: 0 0 5px 0;
	}

  ul.slats li a p
  {
		margin: 0;
	}
}
