---
layout: default
---

<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title"  itemprop="name headline">{{ page.title }}</h1>
    <div class="row">
      <div class="col-md-12 post-meta-post">   
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      </div>
    </div>
  </header>
  <article class="post-content" itemprop="articleBody">
    {{ content }}
  </article>
  <legend></legend>
  <div class="row">
    {% if page.tags %}
    <div class="tags-style pull-right">
      <p><strong>Tags</strong>
        {% for tag in page.tags %}
          <a href="/tags/{{ tag }}.html" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
  {% endif %}
  <br>
  <div class="nav-arrows">
    <div class="row">
      {% if page.previous %}
      <div class="col-md-6">
        <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
      </div>
      {% endif %}
      {% if page.next %}
      <div class="col-md-6 text-right pull-right">
        <a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

